<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.1//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>

	</typeAliases>

	<!-- <mappers> <mapper resource="ResultMapper.xml" /> <mapper resource="StockMapper.xml" 
		/> <mapper resource="WeiboCommentMapper.xml" /> <mapper resource="classpath:mybatis-mysql/WeiboMapper.xml" 
		/> <mapper resource="WeiboUserMapper.xml" /> <mapper resource="WordMapper.xml" 
		/> </mappers> -->
</configuration>
